<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UD6_ChatBot_Manu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UD6_ChatBot_Manu.Properties.Settings>
            <setting name="ColorFondo" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorRobot" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorUsuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Sexo" serializeAs="String">
                <value />
            </setting>
        </UD6_ChatBot_Manu.Properties.Settings>
    </userSettings>
</configuration>